.active {
  text-decoration: underline !important;
  color: rgb(246, 152, 45) !important;
}
.mobile-link {
  display: flex;

  text-decoration: none;
  color: black !important;
}

.navbar-container {
  background: linear-gradient(to right, #fff, #f3f9a7);
}
