.footer {
  margin-top: auto;
  background: linear-gradient(to right, #cee2f3, #efeded);
  justify-content: center !important;
  text-align: center;
  align-items: center;
  display: flex;
  padding: 20px;
}

.footer-inside {
  display: flex;
  justify-content: center !important;
}
span {
  text-align: center;
}
